@model IEnumerable<MVC5_Pracice1002.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
    <p>
        @Html.ActionLink("Create New", "Create")

        @*@Html.DropDownList("isActive", null, "--是否有效--", new { onchange = "this.form.submit();" })*@

        @Html.TextBox("keyword", null, new { onchange = "this.form.submit();" })

        @if (!String.IsNullOrEmpty(Convert.ToString(TempData["ProductsEditDoneMsg"])))
        {
            <h3>@TempData["ProductsEditDoneMsg"]</h3>
        }
    </p>
}
@using (Html.BeginForm())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
        </tr>
        @*
            data[0].ProductId
            data[0].ProductName
            data[1].ProductId
            data[1].ProductName
        *@

        @{
            var products = Model.ToArray();
        }
        @for (var i = 0; i < products.Length; i++)
        {
            @Html.HiddenFor(modelItem => products[i].ProductId)
            if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == products[i].ProductId)
            {
                ViewBag.SelectedProductItem = products[i];
            }
            <tr @if (ViewBag.SelectedProductId != null && ViewBag.SelectedProductId == products[i].ProductId) { @Html.Raw("style='background-color: lightyellow;'")  }>
                <td>
                    @Html.EditorFor(modelItem => products[i].ProductName)
                </td>
                <td>
                    NT$ @String.Format("{0:#,#}", products[i].Price)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Stock)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = products[i].ProductId }) |
                    @Html.ActionLink("Details", "Index", new { type = "Details", ProductId = products[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = products[i].ProductId }) |
                    @Html.ActionLink("OrderLines", "Index", new { type = "OrderLines", ProductId = products[i].ProductId })
                </td>
            </tr>
        }

    </table>

    <button class="btn btn-primary">批次更新</button>
            }

@if (ViewBag.SelectedProductId != null)
{
    if (ViewBag.type == "Details")
    {
        @Html.Partial("Details", ViewData["SelectedProductItem"])
    }
    else
    {
        @Html.Action("Index", "OrderLines", new { ProductId = ViewBag.SelectedProductId })
    }
}